# Environment variables
.env
.env.*

# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store

# IDE/editor folders
.idea/
.vscode/

# Coverage reports
coverage/
.nyc_output/
